@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,300italic,300);
body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#ready {
  display: none;
}
#loader {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background-color: #191F26;
  z-index: 9999;
}
#loader .loader-img {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  position: relative;
}
#loader .loader-img img {
  position: absolute;
  width: 500px;
  height: auto;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  top: -9999px;
  margin: auto;
}
.theflex {
  display: flex;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
}
.bienvenido {
  font-size: 1em;
}
.bienvenido span {
  text-transform: capitalize;
  color: #FF5831;
  margin-left: 5px;
}
.error-label .error {
  background-color: #ff5151;
  text-align: center;
  color: #fff;
  margin-top: 25px;
  padding: 15px 0;
}
p .error {
  margin: 40px auto 0;
  border: 1px solid #777;
  padding: 3px;
  color: #fff;
  text-align: center;
  width: 650px;
  background: #f58220;
}
.section-label {
  font-size: 2em;
  color: #FF5831;
  text-align: center;
  margin-bottom: 10px;
}
.title-separador {
  background-color: #FF5831;
  height: 3px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.section-label-estatica {
  font-size: 2em;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 40px;
}
.title-separador-estatica {
  background-color: #fff;
  height: 3px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.separador {
  background-color: #a7a5a5;
  height: 1px;
  width: 100%;
  margin: 80px 0 50px;
}
.awesomplete {
  width: 100%;
}
form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: italic;
}
form ::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
}
form :-ms-input-placeholder {
  /* IE 10+ */
  font-style: italic;
}
form :-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
}
form .top-label {
  margin-left: 10px;
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 5px;
  color: #107EE0;
}
form input {
  width: 100%;
  padding-left: 10px;
  font-size: 1.2em;
  border: none;
  border-bottom: 1px solid #ECECEC;
}
form select {
  width: 100%;
  padding-left: 10px;
  font-size: 1.2em;
  height: 33px;
  border: none;
  border-bottom: 1px solid #ECECEC;
}
form .selected {
  font-style: italic;
  color: #ABA9A9;
}
form .radio label {
  padding: 0;
}
form .radio label .radio-label {
  font-size: 1.2em;
}
form .radio label input {
  display: inline-block;
  margin-top: 9px;
}
form .send-btn {
  width: 200px;
  background-color: #fff;
  border: none;
  color: #4DAF2D;
  height: 42px;
  margin-top: 40px;
  float: right;
  border: 1px solid #4DAF2D;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}
form .send-btn:hover {
  background-color: #4DAF2D;
  color: #fff;
  border: 1px solid #4DAF2D;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}
@media (max-width: 767px) {
  form .send-btn {
    float: none;
  }
}
.navbar-default .navbar-collapse ul .dropdown .dropdown-menu {
  padding: 0;
}
.navbar-default .navbar-collapse ul .dropdown .dropdown-menu .divider {
  margin: 0;
  padding: 0;
}
.navbar-default .navbar-collapse ul .dropdown .dropdown-menu li a {
  padding: 10px 20px;
}
.cambio-persona {
  background-color: #FF5831;
  padding: 10px 30px;
  color: #fff;
  font-size: 1.2em;
  float: right;
  border: 2px solid #FF5831;
}
.cambio-persona:hover {
  text-decoration: none;
  background-color: #fff;
  color: #FF5831;
}
.imprimir {
  background-color: #FF5831;
  padding: 10px 30px;
  color: #fff;
  font-size: 1.2em;
  float: right;
  border: 2px solid #FF5831;
}
.imprimir:focus {
  text-decoration: none!important;
  color: #fff!important;
}
.imprimir:hover {
  text-decoration: none;
  background-color: #fff;
  color: #FF5831;
}
.editar-orden {
  background-color: #FF5831;
  padding: 10px 30px;
  color: #fff;
  font-size: 1.2em;
  float: right;
  border: 2px solid #FF5831;
}
.editar-orden:focus {
  text-decoration: none!important;
  color: #fff!important;
}
.editar-orden:hover {
  text-decoration: none;
  background-color: #fff;
  color: #FF5831;
}
.explicacion {
  text-align: center;
  font-size: 1.2em;
  color: #555;
}
.big-label {
  font-size: 1.4em;
  margin-top: 30px;
  color: #FF5831;
  border-bottom: 1px solid;
}
.big-label-estatica {
  font-size: 1.4em;
  margin-top: 30px;
  color: #FF5831;
  border-bottom: 1px solid;
}
#info-basica {
  margin-bottom: 50px;
  padding-top: 50px;
}
#documento-id {
  padding-top: 50px;
  padding-bottom: 50px;
}
#documento-id form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: italic;
}
#documento-id form ::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
}
#documento-id form :-ms-input-placeholder {
  /* IE 10+ */
  font-style: italic;
}
#documento-id form :-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
}
#documento-id form .top-label {
  margin-left: 0;
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 5px;
  color: #107EE0;
  text-align: center;
}
#documento-id form input {
  width: 100%;
  padding-left: 10px;
  font-size: 1.2em;
  border: none;
  border-bottom: 1px solid #ECECEC;
  text-align: center;
}
#documento-id form .send-btn {
  width: 200px;
  background-color: #fff;
  border: none;
  color: #4DAF2D;
  height: 42px;
  margin-top: 40px;
  float: none;
  border: 1px solid #4DAF2D;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}
#documento-id form .send-btn:hover {
  background-color: #4DAF2D;
  color: #fff;
  border: 1px solid #4DAF2D;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}
#the-info {
  display: flex;
  border-bottom: 1px solid #ECECEC;
}
#the-info .the-auth {
  width: 250px;
  margin-right: 20px;
  margin-top: 10px;
  position: relative;
  top: -10px;
}
#the-info .the-date {
  width: 250px;
}
#medical_history {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  #medical_history {
    text-align: center;
  }
}
#medical_history form textarea {
  width: 100%;
  font-size: 1.2em;
  padding: 10px 20px;
  font-family: 'Lato', sans-serif;
}
#medical_history form input {
  padding-bottom: 4px;
}
#medical_history form .thefile {
  padding-bottom: 15px;
}
#medical_history form #filelist {
  margin-top: 20px;
  font-size: 1.2em;
  background-color: #FDFDFD;
  padding: 20px 30px;
  color: #555;
  border-radius: 0;
  font-family: 'Lato', sans-serif;
}
#medical_history form .check-label {
  font-size: 1.2em;
  margin-left: 10px;
}
#medical_history form .checkbox {
  margin-left: 20px;
}
#medical_history form .checkbox input {
  margin-top: 7px;
}
#medical_history form .special {
  margin-top: 20px;
  padding: 5px;
}
#medical_history form .send-btn {
  background-color: #4DAF2D;
  border: none;
  color: #fff;
  height: 60px;
  margin-top: 40px;
  padding: 0;
  width: 100%;
  border: 1px solid #4DAF2D;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}
#medical_history form .send-btn:hover {
  background-color: #fff;
  color: #4DAF2D;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}
#medical_history .basic-hist {
  margin-top: 20px;
}
#medical_history .basic-hist .info-hist-label {
  color: #107EE0;
  font-size: 1.2em;
}
#medical_history .basic-hist .the-info {
  font-size: 1.2em;
  margin-bottom: 15px;
}
#medical_history .separador-clinica {
  background-color: #ECECEC;
  height: 1px;
  width: 100%;
  margin: 10px 0 20px 0;
}
#medical_history .sub-label {
  font-size: 1.4em;
  color: #FF5831;
  text-align: center;
  margin-bottom: 10px;
}
#medical_history .subtitle-separador {
  background-color: #FF5831;
  height: 3px;
  width: 70px;
  margin: 0 auto;
  margin-bottom: 40px;
}
#medical_history .sub-label-estatica {
  font-size: 1.4em;
  color: #FF5831;
  text-align: center;
  margin-bottom: 10px;
}
#medical_history .subtitle-separador-estatica {
  background-color: #FF5831;
  height: 3px;
  width: 70px;
  margin: 0 auto;
  margin-bottom: 40px;
}
#change-section {
  text-align: right;
}
#change-section a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  margin-bottom: 3px;
  height: 40px;
  background-color: #328CB9;
  text-decoration: none;
  color: #fff;
  margin-left: 3px;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
}
#change-section a:hover {
  background-color: #FF5831;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
}
.editar-orden {
  background-color: #FF5831;
  padding: 10px 30px;
  color: #fff;
  font-size: 1.2em;
  float: right;
  border: 2px solid #FF5831;
}
.editar-orden:focus {
  text-decoration: none!important;
  color: #fff!important;
}
.editar-orden:hover {
  text-decoration: none;
  background-color: #fff;
  color: #FF5831;
}
footer {
  background-color: #000;
  height: 200px;
  margin-top: 50px;
  padding-top: 30px;
  text-align: center;
}
footer .footer-title {
  color: #fff;
  font-weight: bold;
}
footer .footer-item {
  color: #fff;
}
footer .footer-item a {
  color: #fff;
}
footer .footer-item a:hover {
  color: #FF5831;
}
footer .footer-sep {
  height: 2px;
  background-color: #fff;
  width: 100px;
  margin: 10px auto;
}
.orange {
  background-color: #FF5831;
  text-align: center;
}
.orange .footer-item {
  padding: 10px 0;
}
.orange .footer-item a {
  text-decoration: none;
  color: #fff;
}
.contenido-manual {
  padding: 0 10px;
}
#dialog-box-cover {
  height: 100vh;
  width: 100vw;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#dialog-box-cover .dialog-box {
  z-index: 510;
  position: relative;
  height: auto;
  min-height: 150px;
  width: 40%;
  background-color: white;
  border-radius: 6px;
  box-shadow: inset 0 0 7px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#dialog-box-cover .dialog-box .close-popup {
  position: absolute;
  top: 4%;
  right: 3%;
  font-size: 1.6em;
  color: red;
  text-shadow: 0 0 2px black;
}
#dialog-box-cover .dialog-box .content-wrapper {
  width: 80%;
  height: auto;
  max-height: 70%;
}
#dialog-box-cover .dialog-box .popup-tittle {
  font-weight: bold;
  margin-bottom: 15px;
}
#dialog-box-cover .dialog-box .centered {
  text-align: center;
}
#dialog-box-cover .dialog-box .popup-buttons {
  width: 100%;
  height: 30px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
#dialog-box-cover .dialog-box .buttons-wrapper {
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;
}
#dialog-box-cover .dialog-box .ok-button {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  background-color: #fff;
  color: #4DAF2D;
  height: 30px;
  float: none;
  border: 1px solid #4DAF2D;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  cursor: pointer;
}
#dialog-box-cover .dialog-box .ok-button:hover {
  background-color: #4DAF2D;
  color: #fff;
  border: 1px solid #4DAF2D;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}
#dialog-box-cover .dialog-box .no-button {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  background-color: #fff;
  color: #ff3131;
  height: 30px;
  float: none;
  border: 1px solid #ff3131;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  cursor: pointer;
}
#dialog-box-cover .dialog-box .no-button:hover {
  background-color: #ff3131;
  color: #fff;
  border: 1px solid #ff3131;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}
#dialog-box-cover #close-popup-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
@media print {
  a[href]:after {
    content: none !important;
  }
  @page {
    size: auto;
    margin: 0mm 10mm;
    
    /* auto is the current printer page size */
    /* this affects the margin in the printer settings */
  }
}
